*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-x: auto;
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  margin: 0 auto;
  padding: 0;
  text-align: center;
}


nav {
  padding: 1rem;
  margin: 1rem;
  max-width: 100%;
  position: sticky;
}
.nav-bar {
  display: flex;
  justify-content: space-between;
}
.Navigation {
  display: flex;
  gap: 2rem;
  justify-content: center;
  align-content: center;
}

footer {
  position: fixed;
  margin: 1rem;
  bottom: 0;
  max-width: 100%;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}